
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.messages{
    background-color: #4a5a9e;
    height: 100px;
    width: 50%;
}
.create-a-chat{
    background-color: #868caa;
    height: 100px;
    width: 50%;
}
.find-chat{
    background-color: #6ba2a5;
    height: 100px;
    width: 100%;
}
.conversations{
    background-color: #6ac975;
    height: 500px;
    width: 100%;
}
.conversation-list{
    background-color: #ae2a2a;
    height: 100%;
    padding: 20px;
}
.container{
    display: flex;
    flex-flow: row wrap;
}

.messages, .create-a-chat {
    flex: 1 1 0%;
}

.find-chat {
    flex: 1 1 100%;
}

.conversation-focus{
    background-color: #4a5a9e;
    height: 300px;
    padding: 20px;
    height: auto;
}